@import "_variables.scss";
*{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    color: $coloroscuro;
}
.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: aparecer;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    };
    100%{
        opacity: 1;
    };
}
.botonFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bodyPages{
    background-color: $colorclaro;
}
.form-control__texrarea{
    height: 200px;
}
.footer__boton{
    background-color: map-get($map: $boton, $key: $background-color );
    border: map-get($map: $boton, $key: $border );
    width: map-get($map: $boton, $key: $width );
    height: map-get($map: $boton, $key: $heigth );
    padding: map-get($map: $boton, $key: $padding );
    border-radius: map-get($map: $boton, $key: $border-radius );
    color: map-get($map: $boton, $key: $color );
}
.boton{
    @extend.footer__boton
}